/* Genel sayfa düzeni */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0; /* Genel arka plan */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

/* Buton stili */
.random-btn {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 250px;
    background-color: #4CAF50; /* Yeşil renk */
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Butonlar Hover olduğunda animasyon */
.random-btn:hover {
    transform: scale(1.1); /* Butonu büyütme */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Gölgelendirme */
    background-color: #45a049; /* Hover olduğunda daha koyu yeşil */
}

/* İkon stili */
.icon {
    font-size: 24px;
    margin-right: 10px;
}

/* Sayfa ortalama */
.container {
    text-align: center;
}
